.github/ export-ignore
bin/ export-ignore
tests/ export-ignore
vendor/ export-ignore
node_modules/ export-ignore
.browserslistsrc export-ignore
.distignore export-ignore
.editorconfig export-ignore
.eslintrc export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.stylelintrc.json export-ignore
.wp-env.json export-ignore
composer.lock export-ignore
gulpfile.js export-ignore
package.json export-ignore
webpack.config.js export-ignore
phpcs.ruleset.xml export-ignore
phpunit.xml export-ignore
virtual-member.php export-ignore
