/*!
 * User selector
 *
 * @handle kvm-user-selector
 * @deps wp-components
 */

.kvm-user-token {
	display: inline-block;
	text-align: start;
}

.kvm-user-token-wrapper {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: flex-start;
	align-items: flex-start;

	.components-button {
		height: auto !important;
		white-space: pre-wrap;
	}
}
